body {
    background-color: rgb(84, 175, 250);
}

.content {
    width: 1024px;
    height: 100px;
    background-color: rgb(84, 175, 250);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    color:rgb(16, 16, 71);
}

.banner {
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.intro {
    background-color: white;
    padding: 50px;
}

.about {
    background-color: rgb(21, 45, 65);
    color: white;
    padding: 50px;
}

.prices {
    background-color: white;
    padding: 50px;
}

.contact {
    background-color: rgb(6, 38, 65);
    color: white;
    padding: 50px;
}